@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border: black;
    font-family: 'Raleway', sans-serif;
}

.mobile-container {
    width: 375px; /* typical mobile width */
    height: 667px; /* typical mobile height */
    border: 1px solid #000; /* Optional: to see the boundary */
    overflow: hidden;
    background-color: #f0f0f0; /* Optional: background color for the mobile container */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.navbar{
    background-color: #E6EDF2;
    margin: 0;
    padding-bottom: 1px;
}

.top-section{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 1.75rem;
}

.top-section>h3{
    margin: 0;
    color: #0162A0;
}

.bottom-section{
    display: flex;
    justify-content: space-between;
    margin-top: 1.75rem;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    position: relative;
    margin-bottom: 12px;
    /**the margin bottom here dictates where the light bleu margin of the navbar ends
    >>I have made the made teh margin to end where the yellow indicator starts
    >>Here is the formula for how you calculate margin bottom
    >> margin-bottom=fontSIZE of root(check on chrome inspectot tool) X 0.75*/
}
.svg-image {
    height: 20px;
    width: auto;
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.imp-svg {
    height: 20px;
    width: auto;
}

.tab-contents{
    display: none;
}


.tab-contents.active-tab{
    display: block;
}

/******************************************************indicator div******************************************/
.indicator {
    position: absolute;
    bottom: -0.75rem;
    left: 0;
    height: 5px; /* Adjust height as needed */
    width: 50px; /* Adjust width to match tab size or as needed */
    background-color: #ffbb33; /* Yellow color */
    border-radius: 2px 2px 0 0; /* Rounded corners only at the top */
    transform: translateX(-25%); /* Center the indicator */
    transition: left 0.3s ease; /* Smooth transition */

}

/***********************************pages******************************************************/
.pages{
   margin-top: 1rem; 
   background-color: #f0f0f0;
   padding: 0.55rem;
}

.chat-person{
    background-color: #f0f0f0;
    width: 100%;
    height: 4rem;
    border-radius: 8px;
    display: flex;
}

.profile{
    width: 17%;
    /*background-color: red;*/
    border-radius: 8px;
}
.message-preview{
    width:70%;
    /*background-color: greenyellow;*/
    border-radius: 8px;
}
.time-stamp{
    width:13%;
    /*background-color: rgb(44, 202, 150);*/
    border-radius: 8px;
}

.customer-profile-pic{
    width: 100%;
}

.message-preview{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
    padding-right: 0.95rem;
    padding-bottom: 0.35rem;
}

.primary-text{
    font-weight: 600;
    font-size: 16px;
}
.secondary-text{
    font-weight: 400;
    font-size: 15px;
    color: #5A4747;
}

.time-stamp{
    display: flex;
    flex-direction: column;
    padding-right: 6px;
}

.empty-box{
    height: 50%;
}
.time{
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #B29C9C;
}


/*****************************************Analytics page***********************************************/
.showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:0.14rem;
}

.bleu{
    color:  #0162A0;

}

.ad-image>img{
   width: 100%;
}

/**********************floating button********************/
.white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.floating-button {
    position: fixed;
    bottom: 20px;
    left:calc(50% + 110px);
    width: 60px;
    height: 60px;
    background-color:#34B7F1; /* bleu*/
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s;
}

.floating-button:hover {
    background-color: #ffbb33; /* yellow hover */
}






