/* Coolors Exported Palette - https://coolors.co/0162a0-1468a2-1b6ea8-c6d8e6-fcb833 */

/* CSS HEX */
--lapis-lazuli: #0162A0ff;
--lapis-lazuli-2: #1468A2ff;
--bice-blue: #1B6EA8ff;
--columbia-blue: #C6D8E6ff;
--xanthous: #FCB833ff;

/* CSS HSL */
--lapis-lazuli: hsla(203, 99%, 32%, 1);
--lapis-lazuli-2: hsla(205, 78%, 36%, 1);
--bice-blue: hsla(205, 72%, 38%, 1);
--columbia-blue: hsla(206, 39%, 84%, 1);
--xanthous: hsla(40, 97%, 59%, 1);

/* SCSS HEX */
$lapis-lazuli: #0162A0ff;
$lapis-lazuli-2: #1468A2ff;
$bice-blue: #1B6EA8ff;
$columbia-blue: #C6D8E6ff;
$xanthous: #FCB833ff;

/* SCSS HSL */
$lapis-lazuli: hsla(203, 99%, 32%, 1);
$lapis-lazuli-2: hsla(205, 78%, 36%, 1);
$bice-blue: hsla(205, 72%, 38%, 1);
$columbia-blue: hsla(206, 39%, 84%, 1);
$xanthous: hsla(40, 97%, 59%, 1);

/* SCSS RGB */
$lapis-lazuli: rgba(1, 98, 160, 1);
$lapis-lazuli-2: rgba(20, 104, 162, 1);
$bice-blue: rgba(27, 110, 168, 1);
$columbia-blue: rgba(198, 216, 230, 1);
$xanthous: rgba(252, 184, 51, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);
$gradient-right: linear-gradient(90deg, #0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);
$gradient-bottom: linear-gradient(180deg, #0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);
$gradient-left: linear-gradient(270deg, #0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);
$gradient-top-right: linear-gradient(45deg, #0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);
$gradient-bottom-right: linear-gradient(135deg, #0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);
$gradient-top-left: linear-gradient(225deg, #0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);
$gradient-bottom-left: linear-gradient(315deg, #0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);
$gradient-radial: radial-gradient(#0162A0ff, #1468A2ff, #1B6EA8ff, #C6D8E6ff, #FCB833ff);